<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center">
      Normal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-card>
    <ion-item color="dark">
      <ion-label>{{calculo}}</ion-label>
    </ion-item>
    <ion-item color="dark">
      <ion-label><ion-icon name="reorder-two-outline"></ion-icon>{{resultado}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card color="dank">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-button color="danger" (click)="apagarTudo()">C</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="danger" (click)="apagarUltimo()">DEL</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="danger" (click)="addPon('.')">.</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="danger" (click)="addOpe('/')">/</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-button color="danger" (click)="addNumber('7')">7</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="danger" (click)="addNumber('8')">8</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="danger" (click)="addNumber('9')">9</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="danger" (click)="addOpe('*')">*</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-button color="danger" (click)="addNumber('4')">4</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="danger" (click)="addNumber('5')">5</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="danger" (click)="addNumber('6')">6</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="danger" (click)="addOpe('-')">-</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-button color="danger" (click)="addNumber('1')">1</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="danger" (click)="addNumber('2')">2</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="danger" (click)="addNumber('3')">3</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="danger" (click)="addOpe('+')">+</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-button color="danger" (click)="addNumber('0')">0</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="danger" (click)="addNumber(',')">,</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="danger" (click)="calcularResultado()">=</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
